<%= form_for(@employee) do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.number_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br>
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :current_balance %><br>
    <%= f.text_field :current_balance %>
  </div>
  <div class="field">
    <%= f.label :current_pay %><br>
    <%= f.text_field :current_pay %>
  </div>
  <div class="field">
    <%= f.label :date_of_hire %><br>
    <%= f.date_select :date_of_hire, start_year: 1950, end_year: Date.today.year%>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br>
    <%= f.date_select :date_of_birth, start_year: 1950, end_year: Date.today.year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
